.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  height: 10%;
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}

.select {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px 160px 40px 160px;
  overflow: hidden;
}

.select > div {
  position: relative;
  border-radius: 20px;
  padding-top: 10px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.select > div:nth-child(1):hover {
  transform: translateY(-20px);
  background-color: rgba(255, 123, 0, 0.3);
  backdrop-filter: blur(10px);
}

.select > div:nth-child(2):hover {
  transform: translateY(-20px);
  background-color: rgba(255, 123, 0, 0.3);
  backdrop-filter: blur(10px);
}

.select > div:nth-child(3):hover {
  transform: translateY(-20px);
  background-color: rgba(255, 123, 0, 0.3);
  backdrop-filter: blur(10px);
}

.select > div:nth-child(4):hover {
  transform: translateY(-20px);
  background-color: rgba(255, 123, 0, 0.3);
  backdrop-filter: blur(10px);
}

.select > div:nth-child(5):hover {
  transform: translateY(-20px);
  background-color: rgba(255, 123, 0, 0.3);
  backdrop-filter: blur(10px);
}

.select > div > span {
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 60%;
}

.first,
.second,
.third,
.forth,
.fifth {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  transition: all 1s ease-in-out;
}
