.container {
  width: 98%;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: rgba(0, 225, 255, 0.6);
  clip-path: polygon(82% 100%, 100% 82%, 100% 100%);
  transition: all 0.5s linear;
}

.container:hover {
  clip-path: polygon(81% 100%, 100% 81%, 100% 100%);
}
